<%- include("partials/header") -%>

<div class="emp-profile">

    <img ALIGN = "left" 
    id="prf-img"  
    alt="profile" 
    width="200"
    height="200"
    src="/img/<%= Math.floor((Math.random()*5)+1) %>.png"
    >

    <ul class="detail">
        <li class="emp-name"><%= obj.name %></li>
        <li class="emp-post"><%= obj.post %> </li>
        <li class="emp-detail">Employee ID : <%= obj.emp_id %>  </li>
        <li class="emp-detail">Date of join : <%= obj.doj %> </li>
        <li class="emp-detail">Date of birth : <%= obj.dob %> </li>
        <li class="emp-detail">Contact : <%= obj.phone %> </li>
        <li class="emp-detail">Email : <%= obj.email %> </li>
        <li class="emp-detail">Address : <%= obj.address %> </li>
    </ul>
</div>

<div class="back-button">
    <a href="/team">
        <button class="bttn bttn-lg bttn-back">Back to Team</button>
    </a>
</div>

<%- include("partials/footer") -%>