<%- include("partials/header") -%>

<% if(obj.length == 0) {%>
  <div style="text-align:center;"><h3>No Request Found!!!!</h3></div>
  <% } %>

<% obj.forEach(function(element){ %>
  <div class="leave-request">
    <h3>Employee ID : <%= element.emp_id %></h3>
    <h3>Start Date : <%= element.start_date %></h3>
    <h3>End Date : <%= element.end_date %></h3><hr>
    <p>Description : <%= element.description %></p><hr>
    <a href="mailto:<%= element.email %>?subject=Reply to Leave Request"><button name="button" class = "bttn" style="margin-left: 0;">Reply</button></a>
    <a href="/delete/leave/<%=element.emp_id%>"><button name="delBtn" class = "bttn" >Delete</button></a>
  </div>

<% })%>

</div>

<div class="back-button">
  <a href="/profile">
      <button class="bttn bttn-lg bttn-back">Back to Profile</button>
  </a>
</div>
</body>
</html>
