<%- include("partials/header") -%>

<h1 class="page-heading">The Team</h1>
<h5 class="page-subheading">Company Database</h5>


<% obj.forEach(function (object) { %>

<div class="card">
  <img src="" alt="" class="card-image">
  <div class="credentials">
    <h2>Name : <%= object.name %> </h2>
    <h4>Post : <%= object.post %></h4>
    <h4>Contact : <%= object.phone %></h4>
    <h4>Email : <%= object.email %></h4>
  </div>
  <a href="/emp_prf/<%= object.emp_id%>"><button class="bttn bttn-lg button-card">More Info</button></a>
</div>

<% }) %>






<%- include("partials/footer") -%>
